/* Basic Navbar Styles for Mobile */
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar_brand {
  display: inline-block;
  padding-block: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  color: var(--primary);
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
}

.navbar_collapse {
  display: none;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .navbar_collapse {
    display: flex;
    justify-content: end;
  }
}

.navbar_collapse.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar_nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (min-width: 1024px) {
  .navbar_nav {
    flex-direction: row;
  }
}

.navbar_nav_item {
  margin-right: 1rem;
}

.navbar_nav_link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--text);
  text-decoration: none;
  text-align: center;
}

@media (min-width: 1024px) {
  .navbar_nav_link {
    text-align: left;
  }
}

.navbar_nav_link:hover,
.navbar_nav_link:focus {
  color: var(--text-hover);
}

.navbar_nav_link.active {
  color: var(--primary);
  font-weight: bold;
}

.navbar_nav_link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.navbar_toggler {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .navbar_toggler {
    display: none;
  }
}

.navbar_toggler_icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-color: var(--text);
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1.5' d='M4.5 12h15m-15 5.77h15M4.5 6.23h15'/%3E%3C/svg%3E");
  mask-size: cover;
}
